*{
  margin: 0;
  box-sizing: border-box;
}
body{
    
    font-family: sans-serif;
    font-weight: 100;
    
    
}
navbar{
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    background-color: white;
    
    height: 50px;
    
}
navbar li:first-child{
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;

}


@media(max-width: 720px){
    .hide{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media(min-width: 720px){
    .menu{
        display: none;
    }
}
@media (max-width: 490px){
    #home{
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        
    }
   
}  
    


#dropdown{
    position: fixed;
    top: 0;
    right: 10px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 20px;
    width: 150px;
    height: 35vh;
    color: white;
    background-color: black;
    z-index: 999;
    display: none;
    
    
}
#dropdown ul a{
    text-decoration: none;
    color: white;
    margin-bottom: 50px;

}
#dropdown ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.logo{
    height: 30px;
    
}

navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 20px;
    
}
navbar a{
    text-decoration: none;
    color: black;
    
}
navbar a:hover{
    border-bottom: 1px solid black;
}

/*HOME PAGE*/
#home-page{
    height: auto;
}
#home{
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    
    
}

#portrait_container{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 150px;
    background-image: url(DSC_1355\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    
}
#headingText{
    width: 300px;
    padding: 20px;
    
}
#headingText, h2{
    margin-top: 30px;
}
#resumeButton{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    border: 0;
    border-radius: px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 10px;
}
#resumeButton:hover{
    scale: 1.1;
    cursor: pointer;
}
#resumeButton a{
    text-decoration: none;
    color: white;
    


}
#socials{
    margin-top: 5px;
    display: flex;
    gap: 1rem;
}
#social, a:hover{
    scale: 1.1;
}
#homeFooter{
    text-align: center;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-small;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    margin-bottom: 25px;
}

/*ABOUT PAGE*/

#image-container{
    margin: 20px 20px auto;
    height: 300px;
    
    background-color: black;
    background-image: url(EYES.jpg);
    background-position: center;
    background-size: cover;
   
    border-radius: 20px;

}
#about-heading{
    
    width: fit-content;
    margin: 20px auto;
    position: relative;
    top: 240px;
    
   
}
#about-heading h1{
    color: whitesmoke;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    font-size: 15px;
    font-weight: 100;
    font-style: oblique;
    
}




#about-flex{
    height: 500px;
    margin: 100px;
    display: flex;
    flex-direction: row;
    border: none;
    font-family: sans;
    font-size: small;

}
@media (max-width: 720px) {
    #about-flex{
        margin: 50px;
    }
}
#about-flex h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-size: 20px;
    font-weight: 100;
}
#about-flex h3{
    font-weight: 100;
    font-size: px;
}
#aboutContainer{
    height: 100%;
    width: 40%;
    border: none;
    border-right: 1px solid black;
    padding: 10px;
    
}

#experienceContainer{
    height: 100%;
    width: 30%;
    border: none;
    border-right: 1px solid black;
    padding: 10px;

}
#skillsContainer{
    height: 100%;
    width: 30%;
    border: none;
    padding: 10px;
    border-right: 1px solid black
}
@media (max-width: 720px){
   
    #aboutContainer{
        height: 100%;
        width: 100%;
        border: none;
        border-right: 1px solid black;
        padding: 10px;
        background-color: black;
        color: white;
        
        
    }
    #experienceContainer{
        height: 100%;
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding: 10px;
    
    }
    #skillsContainer{
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        border-left: 1px solid black;
        border-top: 1px solid black;
    }
    #about-flex{
        height: auto;
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: none;
        font-family: sans;
        font-size: small;

    
    }

}


/*PROJECTS PAGE*/
#projects-page{
    height: auto;
    margin-bottom: 100px;
}

#heading-container{
    height: 100px;
    background-color: black;
    margin: 20px;
    border-radius: 20px;
}
#heading-box{
    margin: 25px;
    height: 50px;
    width: 200px;
    text-align: center;
    color: white;
    position: absolute;
    right: 30px;
    border-radius: 20px;

}
@media (max-width: 720px){
    #heading-box{
        position: absolute;
        left: 30px;
    }
}
#heading-box h1{
    padding-bottom: 5px;
    font-family: 'Segoe UI';
    font-size: 35px;
    font-weight: 100;
    border-radius: 20px;
    
}
#tile-container{
    margin: 25px;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}
#tile-container2{
    margin: 25px;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: end;

}

#projects-container{
    display: flex;
    flex-direction: column;
}
#image-tile{
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    position: relative;
    top: 45px;
    left: 20px;
}
#image-tile2{
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    position: relative;
    top: 45px;
    left: 20px;
}

#projectText-container{
    background-color: white;
    height: 220px;
    width: 400px;
    border-radius: 20px;
    padding: 10px; 
}

#projectText-container h2{
    
    color: black;
    font-family: 'Segoe UI';
    font-size: 35px;
    font-weight: 100;
}
#projectText-container p{
    color: black;
    
    font-family: sans;
    
}
#projectText-container2{
    background-color: white;
    height: 220px;
    width: 400px;
    border-radius: 20px;
    padding: 10px; 
}

#projectText-container2 h2{
    
    color: black;
    font-family: 'Segoe UI';
    font-size: 35px;
    font-weight: 100;
}
#projectText-container2 p{
    color: black;
    
    font-family: sans;
    
}
#image-tile img{
    width: 100%;
    border-radius: 20px;
    display: block;
}

@media (max-width: 720px){
    #tile-container{
        
        margin: 25px 25px auto;
    } 
    
    #image-tile{
        margin: auto;
        left: 0px;
    }
    #projectText-container {
        margin: auto;
    }
    #projectText-container2 {
        margin: auto;
    }
   


}
@media (min-width: 720px){
    #projectText-container{
        position: relative;
        top: 20px;
    }
   
}   
   

/*CONTACT-PAGE*/

#contact-page{
    height: auto;
}
#connect-container {
    background-color: black;
    height: 100%;
    margin: 50px;
    border-radius: 20px;
    color: white;
    padding: 20px;
    font-weight: 100;

}
#connect-container h1{
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 100;
    
}
#connectText{
    margin-top: 3%;
    width: auto;
}
#flex-connect{
    display: flex;
    flex-wrap: wrap;
    
}
#form-container{
    width: 400px;
    height: 350px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    color: white;
    

}
form{
    padding: 10px;
    margin: auto;
}
fieldset{
    border: none;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 100%
}
input::placeholder{
    font-size: 10px;
}
textarea{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

}
#submit{
    margin-left: 12px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 70px;
    background-color: white;
    color: black;
}
#submit:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
@media (min-width: 720px){
    #connect-text{
        margin-top: 7%;
    }
    #flex-connect{
        display: flex;
        flex-wrap: wrap;
        gap: 10rem;
    }
    #form-container{
        margin-top: 5%;
    }
    
  
}
#connect-text a{
    text-decoration: none;
    color: gray;
    font-weight: 100;
}
@media (max-width: 720px) {
    #connect-container{
        margin: 20px;
    }
}
/*FOOTER*/
footer{
    
   
    background-color: white;
   
    
    padding: 50px;
    color: black;
}
#footer-container{
    margin: auto;
    width: 40%;
    display: flex;
    
}
#footer-container a{
    margin: auto;
}
#footerText{
    text-align: center;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-small;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Apply the animation to an element */
#headingText {
  animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  #resumeButton {
    animation: slide-in 1s ease forwards;
  }
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  #socials {
    animation: slide-in 1s ease forwards;
  }
  @keyframes slide-from-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  #portrait_container{
    animation: slide-from-left 1s ease forwards;
  }